# Tout ce qui est listé ci-dessous concerne le dossier animax/

animax/node_modules
animax/.pnp
animax/.pnp.*
animax/.yarn/*
!animax/.yarn/patches
!animax/.yarn/plugins
!animax/.yarn/releases
!animax/.yarn/versions

animax/coverage

animax/.next/
animax/out/

animax/build

animax/.DS_Store
animax/*.pem

animax/npm-debug.log*
animax/yarn-debug.log*
animax/yarn-error.log*
animax/.pnpm-debug.log*

animax/.env*

animax/.vercel

animax/*.tsbuildinfo
animax/next-env.d.ts