version: "3.9"

services:
  db:
    image: postgres:15
    container_name: my-postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: animaxdb
    ports:
      - "5999:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: